* {
    margin: 0;
    padding: 0;
}
body {
    font-family:  'Inter', sans-serif;
}
a {
    color: #000;
    text-decoration: none;
}
.navigation-class-list{
    width: fit-content;
    margin: 0 auto;
}
.navigation-class-item{
    color: #000;
    display: inline-block;
    margin: 32px 72px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}
.main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
h2{
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%;
    margin-top: 88px;
    margin-bottom: 40px;
}
h3{
    color: #161616;
    width: 856px;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
    margin: 40px auto 24px;
}
.blue-text{
    color: #04959E;
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}
ol{
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    width: 856px;
    height: 351px;
    margin: 0 auto 40px;
    padding-left: 40px;
}

.button{
    display: block;
    background-color: #04959E;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    padding: 10px 24px;
    margin: 10px 870px 88px;
    text-align: center;
}

.footer-text{
    border: solid;
    border-bottom: black;
    border-left-color: #FFFFFF;
    border-right-color: #FFFFFF;
    padding: 16px;
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}